<!DOCTYPE html>

{% extends 'Client_Pages/base.html' %}

{% load static %}

{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Contact Us</h2>
            </div>
            <div class="col-12">
                <a href="/">Home</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Location Start -->
<div class="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-header text-left">
                    <p>Get In Touch</p>
                    <h2>Car Washing & Care Points</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point 1</h3>
                                <p>123 Olaya, Riyadh, KSA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point 2</h3>
                                <p>123 Naseem, Riyadh, KSA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point 3</h3>
                                <p>123 Taawon, Riyadh, KSA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point 4</h3>
                                <p>123 Safarat, Riyadh, KSA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="location-form">
                    <h3>Contact For Any Query</h3>
                    <form name="sentMessage" id="delayedForm" method="POST" action="/"
                        onsubmit="message_back(); window.setTimeout(function () { document.getElementById('delayedForm').submit(); }, 1500); return false">
                        {% csrf_token %}
                        
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" placeholder="Description" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit" onsubmit="message_back()">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location End -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function message_back() {
        Swal.fire({
            icon: "success",
            title: "Message Sent Successfully !",
            showConfirmButton: false,
            timer: 1700
        });
    }
</script>

{% endblock %}