<!DOCTYPE html>

{% extends 'Client_Pages/base.html' %}

{% load static %}

{% block content %}

<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/static/img/carousel-1.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>Washing & Detailing</h3>
                    <h1>Keep your Car Newer</h1>
                    <p>
                        Shine on ... Drive on ..
                    </p>
                    {% if hide_user_name%}
                    <a class="btn btn-custom" href="/appointment">Book Now</a>
                    {% elif not hide_user_name %}
                    <a class="btn btn-custom" href="/login">Book Now</a>
                    {%endif%}
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/static/img/carousel-2.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>Washing & Detailing</h3>
                    <h1>Quality service for you</h1>
                    <p>
                        Gleaming Wheels Happy Feels ..
                    </p>
                    {% if hide_user_name%}
                    <a class="btn btn-custom" href="/appointment">Book Now</a>
                    {% elif not hide_user_name %}
                    <a class="btn btn-custom" href="/login">Book Now</a>
                    {%endif%}
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/static/img/carousel-3.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>Washing & Detailing</h3>
                    <h1>Exterior & Interior Washing</h1>
                    <p>
                        Love what you ride, we’re on your side.
                    </p>
                    {% if hide_user_name%}
                    <a class="btn btn-custom" href="/appointment">Book Now</a>
                    {% elif not hide_user_name %}
                    <a class="btn btn-custom" href="/login">Book Now</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>What We Do?</p>
            <h2>Premium Washing Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash-1"></i>
                    <h3>Exterior Washing</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Interior Washing</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-vacuum-cleaner"></i>
                    <h3>Vacuum Cleaning</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-seat"></i>
                    <h3>Seats Washing</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service"></i>
                    <h3>Window Wiping</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service-2"></i>
                    <h3>Wet Cleaning</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Oil Changing</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-brush-1"></i>
                    <h3>Brake Reparing</h3>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Location Start -->
<div class="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-header text-left">
                    <p>Washing Points</p>
                    <h2>Car Washing & Care Points</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point 1</h3>
                                <p>123 Olaya, Riyadh, KSA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point 2</h3>
                                <p>123 Naseem, Riyadh, KSA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point 3</h3>
                                <p>123 Taawon, Riyadh, KSA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Car Washing Point 4</h3>
                                <p>123 Safarat, Riyadh, KSA</p>
                                <p><strong>Call:</strong>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img style="border-radius: 15px;" width="100%" src="https://images.unsplash.com/photo-1608506375591-b90e1f955e4b?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="car">
                <!-- <img width="95%" src="https://images.unsplash.com/photo-1565689876697-e467b6c54da2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="car"> -->
                <!-- <img src="https://media.herworld.com/public/car_d.jpg?compress=true&quality=80&w=576&dpr=2.6" alt="car"> -->
                
                <!-- <div class="location-form">
                    <h3>Request for a car wash</h3>
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" placeholder="Description" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Send Request</button>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Location End -->

{% endblock %}